* {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

body {
    margin: 0 100px 0;
    background-color: #1e1b1b;
}

#header-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px
}

#header-container h1 a{
    text-decoration: none;
    color: #ddd;
    font-size: 46px;
    transition: 0.3s;
}

#header-container h1 a:hover {
    color: #c70039;
}

#header-container ul a {
    text-decoration: none;
    color: #ddd;
}

#navbar-header ul {
    display: flex;
    gap: 20px;
}

#navbar-header li {
    list-style: none;
}

#navbar-header li a {
    transition: .5s;
    font-size: 17px;
}

#navbar-header li a:hover {
    color: #c70039;
}

main {
    padding-top: 20px;
    display: flex;
}

h1 {
    font-size: 50px;
    color: #c70039;
}

p {
    font-size: 35px;
    color: #ddd;
}

input {
    background-color: #ddd;
    display: block  ;
    margin-top: 10px;
    height: 45px;
    width: 500px;
    border-style: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 18px;
}

#enviar {
    color: #ddd;
    background-color: #c70039;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    height: 50px;
    width: 200px;
    margin-left: 28%;
    transition: 0.5s;
    cursor: pointer;
}

#enviar:hover {
    width: 240px;
    margin-left: 25.3%;
}

footer {
    border-top: 1px solid #625d5d;
    margin-top: 10px;
    padding: 30px 0 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}
 #copy h3 {
    font-size: 30px;    
}

#copy a {
    font-weight: bold;
    text-decoration: none;
    color: #c70039;
    font-size: 17px;
}